@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --text : white;
    --bkg :#11092A;
    --primary: #2a95ed;
    --secondary : #f48979;
    --accent : #f1f151;
}
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--text);
  background-color: var(--bkg);
  margin-right: 20px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline:4%;
    margin-bottom: 28px;
    border-bottom: 1px solid;
}
nav h1 {
    font-size: 2.1rem;
    color: var(--text) !important;
}

.main  section{
        min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#sync_form {
        display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.buttons{
    margin-top: 2rem;
    display: flex;
    width: 30vw;
    justify-content: space-around;
    align-items: center;
}

#sync_form input {
    padding: 7px;
    font-size: 1.1rem;
    background: transparent;
    border: 1px solid white;
    border-radius: 0;
    color: var(--text);
    min-width: 340px;
}
#sync_form input:hover , #sync_form input:focus  {
    color: var(--text);
    background-color: #7469969e;
}
#sync_form label {
    font-size: 1.4rem;
    margin-bottom: 5px;
}
.buttons button {
    padding: 10px;
    padding-inline: 20px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 17px;
    border: none;
}

.buttons button:hover {
    cursor: pointer;
background-color: rgba(255, 255, 255, 0.533);
}

.inputs{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}
.urlLabel {
    padding-left: 40px;
}


.selectedSites{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 11px;
    flex-direction: column;
    align-items: flex-start;
}

.selectedSites ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 10px;
    font-size: 1rem;
}
.selectedSites ul li {
    margin: 0;
    border: 1px solid white;
    padding: 10px;
    padding-inline: 23px;
    width: max-content;
    align-self: flex-start;
    font-size: 1rem;
}
.selectedSites ul li p{
    font-size: 1rem;
}
 .selectedSites  p{
    margin-bottom: 0;
    font-size: 1.4rem;
    width: 100%;
    margin-top: 0;
}
.selectedSites {
    font-size: 1.4rem;
    width: 100%; 
}

#your_key {
        margin-top: 30px;
    border: 1px solid white;
    padding: 20px;
    font-size: 1rem;
    border-radius: 17px;
    background: #250a0f;
}
#your_key:hover{
    cursor: pointer;
     border-color: blue;
}

#syncing {
        position: absolute;
    font-size: 2rem;
    background: #005c8b;
    padding: 3rem;
    border-radius: 17px;
    line-height: 56px;
}
#syncing.dx-none{
    display: none;
} 

#empty_url{
    background: #e51414;
    padding: 7px;
    padding-inline: 10px;
    font-size: 1rem;
    position: relative;
    left: 62.69%;
    top: -27px;
    margin-bottom: 0;
    width: max-content;
}

#empty_url.hide {
    visibility: hidden;
}

#empty_key{
    background: #e51414;
    padding: 7px;
    padding-inline: 10px;
    font-size: 1rem;
    position: relative;
    top: -81px;
    left: 10.69%;
    margin-bottom: 0;
    width: max-content;
}

#empty_key.hide {
    display: none;
}
.empty_err {
    position: relative;
    width:100%;
    height: 16px;
}

#urls li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
}

#enterSite {
    align-self: center;
    margin-top: 1%;
    padding: 13px;
    padding-inline: 31px;
    font-size: 1rem;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-weight: 600;
}
#enterSite:hover{
    cursor: pointer;
    color: #11092A;
    background-color: white;
}

#emptySitesErr {
    padding: 10px;
    padding-inline: 16px;
    background: red;
    font-size: 1rem;
}
#emptySitesErr.hide {
    display: none;
}
.apiKeyVal {
    text-align: start;
}

.status.success{
color: green;
}
.status.failure{
    color: red;
    padding-left: 5px;
}


.deleteButton{
    margin-inline: 13px;
    border: none;
    border-radius: 50%;
    padding-inline: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-weight: 700;
    color: #11092A;
}
.deleteButton:hover{
    cursor: pointer;
    background-color: red;
    color: #11092A;
}
.urlLink {
    width: 26%;
    text-overflow: ellipsis;
}
.apiKeyVal{
    width: 33%;
    text-overflow: ellipsis; 
}


#clear{
    font-size: 1rem;
    border: none;
    white-space: nowrap;
    padding: 10px;
    font-weight: 700;
    border-radius: 14px;
    color:#11092A;
    border:1px solid white;
}
#heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
#clear:hover{
    color: white;
    cursor: pointer;
    background-color: #11092A;
}
#heading.hide{
    display: none;
}
#emptyHeading {
    align-self: baseline;
    padding-top: 20px;
    color: #d59999;
    font-size: 1rem;
}
#emptyHeading.hide{
    display: none;
}
#sync_Page_Enter.hide , #wooData.hide {
    display: none;
}
#clear.hide{
    display: none;
}

.customQuery{
    margin-top: 4%;
    border: 1px solid white;
    padding: 10px;
    width: 100%;
}
.query{
    display: flex;
    justify-content: start;
    padding-inline: 2%;
    margin-bottom: 29px;
    gap: 7%;
}

#categoryInp , #postTypeInp{
    background: transparent;
    border: 1px solid white;
    border-radius: 0;
    color: white;
    padding-inline: 10px;
    width: 26%;
    
}

.query button{
        padding: 7px;
    padding-inline: 16px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid white;
    color: #11092A;
    border-radius: 0;
}
.query button:hover{
    background-color: #11092A;
    color: white;
    cursor: pointer;
}

.customQuery > p{
        font-size: 1.4rem;
    margin-bottom: 2%;
    margin-top: 0;
}

.settingsMenu{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    align-items: center;
}
.settings{
    /* border: 1px solid white; */
    padding: 0;
    padding-inline: 4%;
}
.settingsHeading{
    margin-top: 0;
    font-size: 2rem;
    margin-bottom:25px;
}
.settingsMenu li > select , .settingsMenu li >input{
    width: max-content;
    padding: 3px;
    padding-inline: 20px;
    padding-right: 30px;
    color: #11092A;
    border-radius: 0;
}
#applySettings{
    margin: 10px;
    margin-inline: 0;
    padding: 7px;
    padding-inline: 31px;
    font-size: 1rem;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-weight: 600;
}
#applySettings:hover{
    color: #11092A;
    background-color: white;
    cursor: pointer;
}

#size{
color: #11092A !important;
}
.settingsMain{
    padding-inline: 4%;
}
.settingsMain #heading p , #wooDataHeading{
        margin-top: 28px;
    font-size: 2rem;
    margin-bottom:0;
}

#sync_Page_Enter , #wooSync{
    background-color: transparent;
    border: 1px solid white;
    font-size: 1.2rem;
    padding: 10px;
    padding-inline: 30px;
    color: white;
    align-self: center;
    margin-top: 16px;
    font-weight: 600;
}

#sync_Page_Enter:hover , #wooSync:hover{
    background-color: white;
    color: #11092A;
    cursor: pointer;
}

 #syncing:has(~ .settings){
    left: 36vw;
transform: translatex(-36%);
    top: 300px;
}

#reponse.hide{
    display: none;
}
#response p {
    color: white;
    font-size: 1rem;
    border: 1px solid white;
    padding: 10px;
    width: max-content;
}
#footer-thankyou , #footer-upgrade{
    display: none;
}